<div>
  <div>
    <h1>Information om <strong>tjänstekontrakt</strong></h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="envSelector">Miljö</label>
      <select id="envSelector" class="form-control" ng-options="cp as (cp.platform + ' ' + cp.environment) for cp in connectionPoints" ng-model="selectedConnectionPoint">
        <option style="display:none" value="">Välj</option>
      </select>
    </div>
    <div class="col-md-10" ng-show="selectedConnectionPoint">
      <label>Tjänstekontrakt</label>
      <ui-select id="contractSelector" ng-model="selectedServiceContract.selected"
                 theme="bootstrap"
                 reset-search-input="false">
        <ui-select-match placeholder="Välj eller sök">{{$select.selected.name}} / {{$select.selected.namespace}} ({{$select.selected.major}}.{{$select.selected.minor}})</ui-select-match>
        <ui-select-choices repeat="sc in filteredServiceContracts track by $index"
                           refresh="filterServiceContracts($select.search)"
                           refresh-delay="0">
          <span ng-bind-html="sc.name | highlight: $select.search"></span>
          <span>/</span>
          <span ng-bind-html="sc.namespace | highlight: $select.search"></span>
          <span>(</span>
          <span ng-bind-html="('' + sc.major)"></span>
          <span>.</span>
          <span ng-bind-html="('' + sc.minor)"></span>
          <span>)</span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="row" ng-show="cooperations || productions">
    <div class="col-md-12">
      <p>&nbsp;</p> <!-- ghetto spacing -->
      <p>TAK-data som publiceras på denna sida är från {{selectedConnectionPoint.snapshotTime | date:'yyyy-MM-dd HH:mm'}}</p>
    </div>
  </div>

  <div class="row" ng-show="cooperations">
    <div class="col-md-12">
      <h3>Tjänstekonsumenter</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="col-md-6">Tjänstekonsument</th>
          <th class="col-md-6">Logisk adress</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cooperation in (orderedCooperations = (cooperations | orderBy: ['serviceConsumer.description', 'serviceConsumer.hsaId', 'logicalAddress.description']))"
            ng-init="prevContractSame = orderedCooperations[$index - 1] && orderedCooperations[$index - 1].serviceConsumer.hsaId === cooperation.serviceConsumer.hsaId">
          <td>
            <span ng-hide="prevContractSame">
              <span>{{cooperation.serviceConsumer.description}}</span>
              <br>
              <small>{{cooperation.serviceConsumer.hsaId}}</small>
            </span>
          </td>
          <td>
            <span>{{cooperation.logicalAddress.description}}</span>
            <br>
            <small>{{cooperation.logicalAddress.logicalAddress}}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" ng-show="productions">
    <div class="col-md-12">
      <h3>Tjänsteproducenter</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="col-md-6">Tjänsteproducent</th>
          <th class="col-md-6">Logisk adress</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="production in (orderedProductions = (productions | orderBy: ['serviceProducer.description', 'serviceProducer.hsaId', 'logicalAddress.description']))"
            ng-init="prevContractSame = orderedProductions[$index - 1] && orderedProductions[$index - 1].serviceProducer.hsaId === production.serviceProducer.hsaId">
          <td>
            <span ng-hide="prevContractSame">
              <span>{{production.serviceProducer.description}}</span>
              <br>
              <small>{{production.serviceProducer.hsaId}}</small>
            </span>
          </td>
          <td>
            <span>{{production.logicalAddress.description}}</span>
            <br>
            <small>{{production.logicalAddress.logicalAddress}}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
