<div>
  <div>
    <h1>Information om <strong>tjänsteproducent</strong></h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="envSelector">Miljö</label>
      <select id="envSelector" class="form-control" ng-options="cp as (cp.platform + ' ' + cp.environment) for cp in connectionPoints" ng-model="selectedConnectionPoint">
        <option style="display:none" value="">Välj</option>
      </select>
    </div>
    <div class="col-md-10" ng-show="selectedConnectionPoint">
      <label>Producent</label>
      <ui-select id="producerSelector" ng-model="selectedServiceProducer.selected"
                 theme="bootstrap"
                 reset-search-input="false">
        <ui-select-match placeholder="Välj eller sök">{{$select.selected.description}} / {{$select.selected.hsaId}}</ui-select-match>
        <ui-select-choices repeat="sc in filteredServiceProducers track by $index"
                           refresh="filterServiceProducers($select.search)"
                           refresh-delay="0">
          <span ng-bind-html="sc.description | highlight: $select.search"></span>
          <span>/</span>
          <span ng-bind-html="sc.hsaId | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="row" ng-show="productions">
    <div class="col-md-12">
      <p>&nbsp;</p> <!-- ghetto spacing -->
      <p>TAK-data som publiceras på denna sida är från {{selectedConnectionPoint.snapshotTime | date:'yyyy-MM-dd HH:mm'}}</p>
    </div>
  </div>

  <div class="row" ng-show="productions">
    <div class="col-md-12">
      <h3>Etablerade anslutningar</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Tjänstekontrakt</th>
          <th>Version</th>
          <th>Logisk adress</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="production in (orderedProductions = (productions | orderBy: ['serviceContract.name', 'serviceContract.namespace', 'serviceContract.major', 'serviceContract.minor', 'logicalAddress.description']))"
            ng-init="prevContractSame = orderedProductions[$index - 1] && orderedProductions[$index - 1].serviceContract.namespace === production.serviceContract.namespace">
          <td>
            <span ng-hide="prevContractSame">
              <span>{{production.serviceContract.name}}</span>
              <br>
              <small>{{production.serviceContract.namespace}}</small>
            </span>
          </td>
          <td>
            <span ng-hide="prevContractSame">
              {{production.serviceContract.major}}.{{production.serviceContract.minor}}
            </span>
          </td>
          <td>
            <span>{{production.logicalAddress.description}}</span>
            <br>
            <small>{{production.logicalAddress.logicalAddress}}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
